body{
    font-family: 'Play', sans-serif;
    width: 100%;
    min-height: 100vh;
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header header"
        "menu main"
        'footer footer';
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 88vh 1fr;
}

header{
    height: 40px;
    grid-area: header;
    display: grid;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(68, 68, 88);
}

menu{ 
    display: flex;
    flex-direction: column;
    grid-area: menu;
    margin: 0px;
    background-color: rgb(245, 245, 245);
}

main{
    grid-area: main;
    background-color: rgb(245, 245, 245);
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

footer{
    grid-area: footer;
    height: 40px;
    display: grid;
    align-items: center;
    text-align: center;
}

.texto_1{
    margin-top: 0px;
}

.texto_2{
    margin-top: 0px;
}

.texto_3{
    margin-top: 0px;
}

.grid-main{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-1{
    text-align: center;
    background-color: white;
}

.card-1 img{
    width: 60%;
    /* height: 10%; */
}

.card-2{
    text-align: center;
    background-color: #fff;
}

.card-2 img{
    width: 60%;
    /* height: 10%; */
}

.card-3{
    text-align: center;
    background-color: #fff;
}

.card-3 img{
    width: 55%;
}

.card-4{
    text-align: center;
    background-color: #fff;
}

.card-4 img{
    width: 60%;
}

.pie{
    padding: 6px;
    background-color: rgb(68, 68, 88);
    color: white;
}